body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ecf0ec;
}

.container{
width: 100%;
height: 100vh;
padding: 10px;
border-radius: 8px;
/* box-sizing: 12px, 12px, 20px #bcbcbc,
            -12px, -12px, 20px, #ffffff; */
display: flex;
justify-content: center;
align-items: center;
}

.Calculator{
    padding: 10px;
    margin: 10px;
    background: #131212;
    padding: 20px;
    border-radius: 10px;
}
 .Calculator form input{
border: 0;
outline: 0;
width: 60px;
height: 60px;
border-radius: 10px;
box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.267), 5px 5px 15px rgba(0, 0, 0, 0.2);
background: transparent;
font-size: 20px;
color: #fff;
cursor: pointer;
margin: 10px;
 }

 form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px, 0px;
    /* border: #726e6e;
    border-radius: 12px; */
 }

 form .display input{
    flex: 1px;
    text-align: right;
    font-size: 40px;
    padding: 12px;
    /* box-shadow: none; */
 }

 form input.equal{
    width: 145px;
 }

 form input.operator{
    color: #26e4dd;
 }